<a href="https://colab.research.google.com/github/ypsmalik/ypsmalik/blob/main/leanIn_HousePrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/content/Bengaluru_House_Data.csv')

In [6]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
df.shape

(13320, 9)

In [8]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [9]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [11]:
df['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [14]:
df1 = df.drop(['area_type', 'society', 'availability', 'balcony'],axis = 'columns')

In [16]:
df1.shape

(13320, 5)

In [21]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [23]:
df2 = df1.dropna()
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [25]:
df2.shape

(13246, 5)

In [27]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [31]:
# doing cleaning to make all attributes bedroom and bhk same for the algo, just taking the numerical values 
df2['bhk']= df2['size'].apply(lambda x:int(x.split('')[0]))

ValueError: ignored

In [32]:
df2['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [33]:
def is_float(x):
  try:
    float(x)
  except:
      return False
  return True

In [43]:
df2[~df2['total_sqft'].apply(is_float)].head(10)

               location       size      total_sqft  bath    price
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770
648             Arekere  9 Bedroom       4125Perch   9.0  265.000
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000

In [40]:
def convert_sqft_to_num(x):
  tokens = x.split('-')
  if(len(tokens)==2):
    return (float(tokens[0]) + float(tokens[1]))/2
  try:
    return float(x)  
  except:
    return None

In [41]:
df3 = df2.copy()
df3['total_sqft'] = df3['total_sqft'].apply(convert_sqft_to_num)

In [42]:
df3.loc[30]

location      Yelahanka
size              4 BHK
total_sqft       2475.0
bath                4.0
price             186.0
Name: 30, dtype: object

In [46]:
df3.loc[648]

location        Arekere
size          9 Bedroom
total_sqft          NaN
bath                9.0
price             265.0
Name: 648, dtype: object

In [47]:
df3 = df3[df3['total_sqft'].notnull()]

In [51]:
# 648 is deleted 
df3.loc[30]

location      Yelahanka
size              4 BHK
total_sqft       2475.0
bath                4.0
price             186.0
Name: 30, dtype: object